@import "elements/home_page_slider";

.promo_meassage{
	padding: 0px 50px;
	display:block;

	.promo_txt{
		@include font(14px);
		color:$color_txt_1;
		text-transform: uppercase;
		font-family:$Oswald;
		float:left;
		line-height:70px;
		margin:0;
	}

	.button {
		padding-top: 10px;
		float: right;
	}
}

.block_banners {
	width: 931px;
	margin: 0px auto;
	padding: 29px 0px;

	.banner {
		margin-left: 29px;
		float: left;

		a {
			width: 211px;
			height: 211px;
			display: block;

			background-repeat: no-repeat;
			background-position: 0px 0px;

			font-family:$Oswald;
			font-size: 12px;
			color: $color_txt_12;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			line-height: 316px;
		}
		a:hover {
			background-position: 0px -211px;
			color: $color_txt_13;
		}

		a.banner_1 {
			background-image: url(../img/sprite_banner_1.png);
		}
		a.banner_2 {
			background-image: url(../img/sprite_banner_2.png);
		}
		a.banner_3 {
			background-image: url(../img/sprite_banner_3.png);
		}
		a.banner_4 {
			background-image: url(../img/sprite_banner_4.png);
		}
	}
	.banner:first-child {
		margin-left: 0px;
	}
}

.block_about_us {
	padding: 17px 0px 30px;

	.about_us {
		p {
			margin-bottom: 21px;
		}
	}
}